residual_soft_push/VAE/data
residual_soft_push/VAE/saved_model
utils/__pycache__
tasks/__init__.py
tasks/__pycache__/
tasks/__pycache__/
training_data
playing_data
train_cnn.log
train_mlp.log
train_rnn.log
train.log
image_capture/
image_capture_0/
image_capture_1/
image_capture_2/
image_capture_3/
image_capture_4/
img_debug/
datalog/
blended_object_img/
wandb/
${data}/
img_record/
datalog/